<div class="container">
    <div class="col-sm-4">
        <h3>Pending Appointments</h3>
        <div class="panel panel-default" ng-repeat="invitation in pendingInvitations">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ invitation.set_date | date : 'MMMM d, yyyy' }}
                </div>
            </div>
            <div class="panel-body">
                <p><label>Subject:</label> {{ invitation.subject }}</p>
                <p><label>Time:</label> {{ formatTime(invitation.start_time) | date : 'HH:mm a' : 'UTC+08:00' }} - {{ formatTime(invitation.end_time) | date : 'HH:mm a' : 'UTC+08:00' }}</p>
                <p><label>Venue:</label> {{ invitation.venue }}</p>
                <p ng-init="getEmp(invitation.employee_id)"><label>Set by:</label> {{ set_by.first_name }} {{ set_by.last_name }}</p>
                <p><a href="#/scheduler/appointment/{{invitation.id}}/details">See Details >></a></p>
                <button class="btn btn-primary text-center col-xs-12 btn-confirm" ng-click="confirmAttendance(invitation)"><span class="fa fa-check"></span> Confirm Attendance</button>
                <button class="btn btn-warning text-center col-xs-12 btn-confirm"><span class="fa fa-remove"></span> Schedule Not Available</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Approved Appointments</h3>
        <div class="panel panel-default" ng-repeat="invitation in approvedAppointments">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ invitation.set_date | date : 'MMMM d, yyyy' }}
                </div>
            </div>
            <div class="panel-body">
                <p><label>Subject:</label> {{ invitation.subject }}</p>
                <p><label>Time:</label> {{ formatTime(invitation.start_time) | date : 'HH:mm a' : 'UTC+08:00' }} - {{ formatTime(invitation.end_time) | date : 'HH:mm a' : 'UTC+08:00' }}</p>
                <p><label>Venue:</label> {{ invitation.venue }}</p>
                <p ng-init="getEmp(invitation.employee_id)"><label>Set by:</label> {{ set_by.first_name }} {{ set_by.last_name }}</p>
                <p><a href="#/scheduler/appointment/{{invitation.id}}/details">See Details >></a></p>
                <button class="btn btn-danger text-center col-xs-12 btn-confirm" ng-click="cancelAppointment(invitation)"><span class="fa fa-remove"></span> Cancel Appointment</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Requested Appointments</h3>
        <div class="panel panel-default" ng-repeat="request in requests">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ request.set_date | date : 'MMMM d, yyyy' }}
                </div>
            </div>
            <div class="panel-body">
                <p><label>Subject:</label> {{ request.subject }}</p>
                <p><label>Time:</label> {{ formatTime(request.start_time) | date : 'HH:mm a' : 'UTC+08:00' }} - {{ formatTime(request.end_time) | date : 'HH:mm a' : 'UTC+08:00' }}</p>
                <p><label>Venue:</label> {{ request.venue }}</p>
                <p ng-init="getEmp(request.employee_id)"><label>Set by:</label> {{ set_by.first_name }} {{ set_by.last_name }}</p>
                <p><a href="#/scheduler/appointment/{{request.id}}/details">See Details >></a></p>
            </div>
        </div>
    </div>
</div>
